<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="..static/CSS/estilos.css" th:href="@{/CSS/estilos.css}" rel="stylesheet"/>
    <title>Agendar Cita</title>
</head>
<body>
    <header>
        <img id="banner" src="/imagen/banner.jpg">
    </header>
    <br>
    <aside>
        <h1>Opciones</h1>
        <h3>Registrar</h3>
        <a href="/agendar"><img class="op" src="/Imagen/registro.png"> </a>
        <h3>Consultar</h3>
        <a href="/consultar"><img class="op" src="/Imagen/calendario.png"> </a>
        <br>
        <br>
    </aside>
    <br>
    <section id="datos">
        <form   action="/add" method="post">
        <h1 id="tope">Agendar Cita Medica</h1>
        <p class="per">Paciente: <input type="text" name="nombre"> </p>
        <p class="per">Asunto:</p><textarea type="text" name="asunto" class="form-input" placeholder="Escriba el asunto" cols="40"></textarea>
        <p class="per">Hora: <input type="time" name="hora" value="12:00:00" max="20:00:00" min="10:00:00" step="1"></p>
        <p class="per">Fecha: <input type="date" name="fecha"></p>
        <p class="per">Medico:
            <select name="medico">
            <option selected value="1">...</option>
            <option value="Andres Suarez">Andres Suarez</option>
            <option value="Jorge Urrieta">Jorge Urrieta</option>
            <option value="Maria Sanchez">Maria Sanchez</option>
            <option value="Fernando Delgadillo">Fernando Delgadillo</option>
            <option value="Regina Portela">Regina Portela</option>
            </select>
        </p>
        <input type="submit" value="Enviar" id="boton">
            <br>
            <br>
        </form>
    </section>
</body>
</html>